/* Navigation */
.header {
	background-image: linear-gradient(0, #fe6430, #f53e2d);
}
.header__nav {
	/* background-image: linear-gradient(0, #fe6430, #f53e2d);
	height: 120px; */
}
.navbar {
	display: flex;
	justify-content: space-between;
}
.navbar__list {
	display: flex;
	font-size: 1.6rem;
	line-height: 1.5;
	font-weight: 300;
	margin-top: 0.4rem;
}

.navbar__item {
	margin: 0 8px;
	position: relative;
	color: var(--white-color);
}
.navbar__item > a {
	color: var(--white-color);
}
.navbar__item > a:hover {
	opacity: 0.8;
}
.navbar__item--separate::after {
	display: block;
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -8px;
	height: 1.6rem;
	border-left: 2px solid var(--separete-color);
}

/* Navigation QRcode */
.navbar__qrcode {
	position: absolute;
	top: calc(100% + 0.4rem);
	border-radius: 5px;
	background-color: var(--white-color);
	width: 200px;
	margin: auto;
	animation: FadeIn 0.3s linear;
	will-change: opacity;
}

.navbar__qrcode::before {
	position: absolute;
	content: '';
	display: block;
	top: -4%;
	height: 1rem;
	width: 200px;
}

.navbar__item:hover .hide {
	display: block;
}

.navbar__qrcode > img {
	display: block;
	height: auto;
	width: 180px;
	margin: 10px;
}
.navbar__store {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 20px;
}
.navbar__storelink {
	display: inline-flex;
	height: 25px;
	padding: 5px 0;
	cursor: pointer;
}
.navbar__storelink img {
	height: 100%;
}

/* navbar notify */

.navbar__notify {
	position: absolute;
	right: 0;
	top: calc(100% + 14px);
	width: 404px;
	display: flex;
	flex-direction: column;
	min-height: 400px;
	background-color: var(--white-color);
	transform-origin: calc(100% - 20px) top;
	animation: ScaleIn ease-in 0.25s;
	will-change: opacity, transform;
	box-shadow: 0 0 1rem rgba(238, 75, 43, 0.3);
}
.navbar__notify::before {
	position: absolute;
	content: '';
	display: block;
	top: -15px;
	right: 0;
	height: 20px;
	width: 404px;
}
.navbar__notify:hover .hide {
	display: block;
}
.notify__up-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 16px solid var(--white-color);
	right: 10px;
	top: -14px;
}
.notify__header {
	display: flex;
	color: #999;
	justify-content: center;
	align-items: center;
	height: 50px;
	user-select: none;
}
.notify__container {
	display: flex;
	max-height: 400px;
	padding: 0 10px;
	text-align: justify;
}

.notify__item {
	display: flex;
	color: var(--black-color);
	background-color: rgba(238, 75, 43, 0.08);
}
.notify__item:hover {
	background-color: rgba(238, 75, 43, 0.08);
}
.notify__item:visited {
	background-color: var(--white-color);
}
.notify__img {
	display: flex;
	flex: 2;
	justify-content: center;
	align-items: center;
}
.notify__img img {
	width: 70%;
	object-fit: contain;
	max-width: 78px;
}
.notify__content {
	align-items: center;
	display: flex;
	flex: 8;
	flex-direction: column;
	min-height: 90px;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px;
}
.notify__name {
	display: flex;
	font-size: 1.4rem;
	font-weight: 400;
	padding: 3px 0;
	overflow: hidden;
	max-width: 100%;
	max-height: 42px;
	text-overflow: ellipsis;
}
.notify__description {
	display: flex;
	font-size: 1.2rem;
	padding: 3px 0;
	opacity: 0.9;
	overflow: hidden;
	max-width: 100%;
	max-height: 36px;
	text-overflow: ellipsis;
}
.notify__footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
}
.notify__footer a {
	display: flex;
	color: #000;
}
/* Begin modal form */

.modal__section {
	flex-direction: column;
	border: none;
	box-shadow: 0 0 5px rgb(0 0 0 / 0.3);
	padding: 20px;
	border-radius: 3px;
	background-color: var(--white-color);
	animation: FadeIn 0.3s linear;
}
.modal__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.modal__title {
	font-weight: 500;
	margin-right: 5%;
}
.modal__hint {
	border: 2px solid #ffbf00;
	background-color: #fefaec;
	color: #ffbf00;
	position: relative;
	font-weight: 700;
	height: 30px;
	padding: 5px 10px;
	flex-wrap: wrap;
	width: 90px;
	display: flex;
	align-items: center;
}
.modal__hint::after {
	position: absolute;
	display: block;
	content: '';
	width: 10px;
	height: 10px;
	border-top: 2px solid #ffbf00;
	border-right: 2px solid #ffbf00;
	top: 50%;
	right: -4px;
	background-color: #fefaec;
	transform: rotate(45deg) translateY(-50%) translateX(-10%);
}
.modal__header > a {
	outline: none;
}
.modal__qrcode {
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal__body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.modal__form {
	display: flex;
	flex-direction: column;
	padding: 10px 0;
	width: 100%;
}
.modal__form .form__input {
	margin-bottom: 15px;
	padding: 8px;
	border-color: rgba(0 0 0 / 0.1);
}
.modal__form .form__input::placeholder {
	color: rgba(0 0 0 / 0.3);
	font-weight: 500;
}
.form__input-password {
	display: flex;
	width: 100%;
	position: relative;
}
.input__password {
	display: flex;
	flex: 1;
}
.password__eye {
	display: flex;
	width: 3rem;
	height: 1rem;
	background-color: var(--white-color);
	border: none;
	outline: none;
	opacity: 0.8;
	position: absolute;
	right: 0;
	bottom: calc(50% + 8px);
	transform: translateY(50%) translateX(-20%);
	cursor: pointer;
}
.form__optional {
	display: flex;
	justify-content: space-between;
	margin: 8px 0;
}
.modal__footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.mfooter__separate {
	display: flex;
	justify-content: center;
	align-items: center;
}
.mfooter__line-separate {
	display: flex;
	background-color: rgba(0 0 0 / 0.1);
	height: 1px;
	width: 100%;
	flex: 1;
}
.mfooter__text-separate {
	display: flex;
	font-weight: 500;
	color: rgb(0 0 0 / 0.3);
	margin: 0 16px;
}
.mfooter__social {
	display: flex;
	justify-content: space-between;
	margin: 16px 0;
}
.btn-mfooter {
	display: flex;
	font-size: 1.3rem;
	align-items: center;
	font-weight: 400;
	font-family: sans-serif;
	background-color: var(--white-color);
	border-color: rgb(0 0 0 / 0.2);
	line-height: 2.5rem;
}
.btn-mfooter:not(:first-child):not(:last-child) {
	margin: 0 8px;
}
.btn-mfooter i {
	margin-right: 5px;
	font-size: 2rem;
}
.btn-mfooter-img {
	width: 2rem;
	margin-right: 5px;
}
.mfooter__policy {
	display: block;
	margin: auto auto 16px auto;
	width: 215px;
	text-align: center;
}
.mfooter__policy a {
	color: #fe6430;
}

.mfooter__lastline {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
}
.mfooter__register {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.4;
}
.mfooter__lastline a {
	display: block;
	padding-left: 5px;
	color: #fe6430;
	font-weight: 500;
}

/* End modal form */

/* Begin Search bar */
.header__search {
	display: flex;
	margin-top: 20px;
}
.header__logo {
	display: flex;
	flex: 2;
	height: 100px;
}
.hlogo__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
}
.header__shopee-logo {
	display: flex;
}
.header__searchbar {
	display: flex;
	flex: 5;
	position: relative;
	justify-content: center;
	align-items: center;
}
.searchbar__input {
	display: flex;
	width: 100%;
	height: 40px;
	border-radius: 2px;
	border: none;
	padding-left: 10px;
	font-size: 12px;
	outline-color: #000;
	outline-offset: 5px;
	outline-width: 5px;
}

.searchbar__btn {
	position: absolute;
	top: 50;
	right: 10px;
	width: 60px;
	text-align: center;
	background-color: #fe6430;
}
.searchbar__btn:hover {
	opacity: 0.8;
}

.searchbar__btn i {
	font-size: 13px;
	color: var(--white-color);
}
.header__cart {
	display: flex;
	flex: 1;
	height: 100px;
	justify-content: center;
	align-items: center;
}
.header__cart-btn {
	display: block;
	font-size: 30px;
	color: var(--white-color);
	background-color: transparent;
}

/* End Search bar */
/* ulil */
.hide {
	display: none;
}
.btn-modal-submit {
	color: var(--white-color);
	background-color: #ee4d2d;
	border: none;
	line-height: 3.2rem;
	font-weight: 500;
	font-size: 1.4rem;
}

/* keyframes */
@keyframes FadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes FadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes ScaleIn {
	from {
		opacity: 0;
		transform: scale(0);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
