/* PC */
@media (min-width: 1024px) {
    
    
}

/* Tablet */
@media (max-width: 1023px) and (min-width: 741px) {
    
    
}

/* Mobile */
@media (max-width: 740px) {
    #header{
        overflow: hidden;
    }
    .nav li{
        float: none;
    }
    .nav li a:nth-child(2){
        display: inline-block;
    }
    .button-menu{
        float: right;
        line-height: var(--header-height);
        display: block;     
    }
  
    .button-search{
        display: none;
    }

    .nav li:hover .subnav a{
        color: #fff;
        background-color: #333;
        padding-left: 40px;
    }
    .nav .subnav li:hover a{    
        color: #000;
        background-color: #ccc;      
    }
    .img-title{
    display: none;
    }
    .member-section{
        padding: 32px 0;
    }
    .band-section .member {
        width: 100%;
        padding: 0;
    }
    .ticket-section .ticket-info{
        width: 100%;
    }
    .contact-info{
        width: 100%;
        margin-bottom: 16px;
    }
    .contact-input{
        width: 100%;
    }
    .contact-input .half{
        width: 100%;
    }
}