/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* variable */
--header-height: 46.5px;
--subnav-items-height: 38.5px;
}
/* Reset a */
a{
    text-decoration: none;
}
html{
    font-size: 15px;
    line-height: 1.5;   
}
h1,h2,h3,h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 
ul,li{
    list-style-type: none;
}

/* font */
@font-face {
    font-family: Lato;
    src: url(/2_HTML_CSS_from_ZERO_to_HERO/2_Lam_quen_voi_CSS/w3_band/assets/fonts/Lato-Regular.ttf);
  }


.main {
   
}

.header {    
    height: var(--header-height);
    background-color: #000;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}

/* Begin: Navigation */
.nav{
    /* position: fixed;
    top: 0px; */
}

.nav li{
    float: left;
    display: block;
    position: relative;
}

.nav li a{
    display: block;
    color: #fff;
    line-height: var(--header-height);
    padding: 0 24px;
    font-family: Lato;
    font-size: 15px;
    text-transform: uppercase;
}

.nav li:hover a{
   background-color: #ccc;
   color: #000;
}

.nav .subnav{
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    box-shadow: 0 0px 10px 0 rgba(0,0,0,0.3); 
}

.nav .subnav li{    
    min-width: 160px;
    height: var(--subnav-items-height);
      
}

.nav li:hover .subnav{
    display: block;
    float: none;    
}

.nav li:hover .subnav a{
    padding: 0 16px;
    display: block;
    color: #000;
    background-color: #fff;
    text-transform: none;
    text-align: left;
    line-height: var(--subnav-items-height);    
}

.nav .subnav li:hover a{    
    color: #000;
    background-color: #ccc;      
}
/* End: Navigation */

/* Begin: Search button */
.button-search{    
    background-color: #000;
    float: right;
    line-height: var(--header-height);   
}
.button-search:hover{
    background-color: #f44336;
}
.button-search a{
    line-height: var(--header-height);
    display: block;
    color: #fff;
    padding: 0 24px;
}
/* End: Search button */

/* Begin: Slider */
.slider {
    position: relative;
    margin-top: var(--header-height);
    padding-top: 50%;
    background: url('/2_HTML_CSS_from_ZERO_to_HERO/2_Lam_quen_voi_CSS/w3_band/assets/imgs/chicago.jpg') top center / contain;
}

.slider .img-title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    bottom: 0;
    text-align: center;
    margin: 32px 0;
}

.slider .img-title h3{
   font-size: 24px;
   margin: 10px 0;
   font-weight: 400;
   font-family: 'Segoe UI', Tahoma, Arial, Verdana, sans-serif;
}

.slider .img-title p{
    font-size: 15px;
    margin: 15px 0;
    font-family: Lato;
 }
 /* End: Slider */
 
/* Begin: Container */
.container {    
   
    font-family: Lato;
    color: #000;    
   
}

.subcontainer{
    max-width: 800px;
    margin: 0 auto;
    padding: 64px 16px;    
    text-align: center;
}

/* Begin: Band Section */
.subcontainer h2{
    margin: 10px 0;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
}
.subcontainer i{
    margin: 15px 0;
    opacity: 0.60;
    display: block;
}

.band-section.subcontainer>p{
    margin: 15px 0;
    display: block;
    text-align: justify;
}
.band-section .member-section{   
  
}
.band-section .member {
    float: left;
    width: calc(100%/3);
    padding: 32px 0;
    text-align: center;
}
.member-section::after {
    content: "";
    display: block;
    clear: both;
}
.band-section .member p{
    display: block;
    margin: 15px 0;
}
.band-section .member img{
    display: inline-block;
    margin: 15px auto;
    border-radius: 4px;
    width: 60%;  
}
/* End: Band Section */

/* Begin: Tour Section */
.black{
background-color: #000;
color: #fff;
}
.tour-section li::after{
    content: "";
    display: block;
    clear: both;
}
.tour-section li{
    display: block;
    width: 100%;
    padding: 8px 16px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
.tour-section li p{
    color: #757575;
    display: block;
    float: left;
}

.tour-section li span{
    display: block;
    background-color: #f44336;
    float: left;
    padding: 0 8px;
    margin-left: 16px;
}
.tour-section .ticket-available{
    display: block;
    padding: 0 8px;
    margin-right: 16px;
    float: right;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
}
.ticket-section{
    padding: 32px 8px;
    margin: 0 -16px;
}
.ticket-section .ticket-info{
    width: calc(100%/3);
    float: left;
    margin-bottom: 16px;
    padding: 0 8px;
}

.ticket-section .ticket-info img{
    width: 100%;
    overflow: clip;
    overflow-clip-margin: content-box;
    vertical-align: middle;
}
.ticket-section .ticket-info img:hover{
    opacity: 0.6;
}
.ticket-section::after{
    content: "";
    display: block;
    clear: both;
}

.ticket-info .ticket-text{
    background-color: #fff;
    color: #000;
    text-align: left;
    padding: 0 16px;
    overflow: hidden;
    
    
}

.ticket-info .ticket-text p{
    display: block;
    line-height: 1.5;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.ticket-info .ticket-text .ticket-text-opacity{
    opacity: 0.6;
    display: block;
}
.ticket-info .ticket-text .ticket-btn{
    color: #fff;
    background-color: #000;
    padding: 8px 16px;
    margin-bottom: 16px;
    font-size: 15px;
    font-family: Lato;   
}
/* End: Tour Section */


/* End:Container */
.footer {

}
