* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
}
.container {
	margin: auto;
	position: relative;
}

.btn {
	display: inline-block;
	border: none;
	border-radius: 50px;
	min-width: 120px;
	outline: none;
	padding: 12px 48px;
	cursor: pointer;
}
.btn + .btn {
	margin-left: 15px;
}

.btn--active {
	background-color: #71be34;
	color: #fff;
}
.btn--running {
	background-color: #ffb702;
	color: #fff;
}
.btn--deactive {
	background-color: #ff623d;
	color: #fff;
}
.btn--hover {
	background-color: #55acee;
	color: #fff;
	transition: opacity linear 0.2s;
}
.btn--hover:hover {
	opacity: 0.8;
}
.btn--disabled {
	background-color: grey;
	color: #fff;
	opacity: 0.5;
	cursor: default;
}
.btn--size-s {
	padding: 8px 32px !important;
}
.btn--size-l {
	padding: 16px 64px !important;
}

/* Toast */
#toast {
	position: fixed;
	top: 32px;
	right: 32px;
	z-index: 99999;
	width: 35%;
}
.toast {
	display: flex;
	background-color: #fff;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
	border-left: solid 5px;
	animation: toastEaseIn ease 0.3s, toastFadeOut linear 1s 3s forwards;
	transition: all linear 0.3s;
}
@keyframes toastEaseIn {
	from {
		opacity: 0;
		transform: translateX(calc(100% + 32px));
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes toastFadeOut {
	to {
		opacity: 0;
	}
}
.toast + .toast {
	margin-top: 24px !important;
}

.toast--active {
	border-color: #71be34;
}

.toast--active .toast__icon {
	color: #71be34;
}

.toast--running {
	border-color: #ffb702;
}
.toast--running .toast__icon {
	color: #ffb702;
}
.toast--deactive {
	border-color: #ff623d;
}
.toast--deactive .toast__icon {
	color: #ff623d;
}

.toast__title {
	font-weight: 600;
	font-size: 16px;
	color: #333;
}
.toast_msg {
	font-size: 14px;
	color: #888;
	margin-top: 4px;
}

.toast__icon,
.toast__close {
	display: flex;
	width: 20%;
	margin: auto;
	justify-content: center;
	font-size: 24px;
}

.toast__close {
	color: rgba(0, 0, 0, 0.3);
	font-size: 16px;
}
.toast__close i {
	cursor: pointer;
}

.toast__content {
	display: flex;
	flex-direction: column;
	width: 80%;
	padding: 10px 0;
}
